body {
  background-color: #D1B69E; }

.row {
  padding: 0;
  margin: 0; }

h4 {
  font-size: 1.2rem; }

.navbar {
  padding: 0rem 1rem 0rem 1rem !important; }

.bg-dark {
  background-color: #535927 !important; }

.navbar-brand {
  color: #FFD185 !important;
  font-family: "Bree Serif", serif;
  font-size: 25px; }
  .navbar-brand span {
    padding-left: 85px; }
  .navbar-brand img {
    position: absolute;
    top: -10px;
    height: 70px;
    -webkit-filter: drop-shadow(4px 4px);
    filter: drop-shadow(4px 4px #343f4b); }

.navbar-toggler {
  color: #FFD185 !important;
  border: none;
  outline: none !important; }
  .navbar-toggler i {
    font-size: 20px; }

.nav-link {
  color: #FFD185 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 900; }

.navbar-nav {
  float: right; }
  .navbar-nav li {
    text-align: right; }

.navbar-expand-lg {
  z-index: 1; }

.background {
  padding-left: 0; }

.top-section--background {
  position: fixed;
  top: 0;
  height: 40vh;
  background-image: url("../../static/images/background.jpg");
  background-size: cover;
  background-position: top;
  z-index: -1; }

.top-section {
  margin-top: 5vh;
  height: 35vh; }
  .top-section .row {
    margin: 0;
    padding: 0; }

.middle-section {
  height: 12.5vh;
  text-align: center;
  background-color: #535927;
  color: #FFD185;
  font-family: "Montserrat", sans-serif;
  font-weight: 900; }

.bottom-section {
  padding-bottom: 40px;
  background-color: #D1B69E; }
  .bottom-section .card {
    background-color: #D1B69E;
    color: #535927;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    border: none; }
    .bottom-section .card span {
      color: #535927; }
    .bottom-section .card img {
      width: 80px;
      height: 80px;
      border: 3px solid #535927;
      margin: 10px 0 10px 0; }
    .bottom-section .card button {
      width: 100%;
      text-decoration: none; }
  .bottom-section .card-header {
    background-color: #D1B69E;
    padding-left: 0;
    padding-right: 0; }
    .bottom-section .card-header button.collapsed .index-collapse--read-less {
      display: none; }
    .bottom-section .card-header button.collapsed .index-collapse--read-more {
      display: block; }
    .bottom-section .card-header button:not(.collapsed) .index-collapse--read-less {
      display: block; }
    .bottom-section .card-header button:not(.collapsed) .index-collapse--read-more {
      display: none; }
  .bottom-section .card-body {
    width: 100%;
    background-color: #D1B69E;
    font-size: 1rem;
    border: solid 1px #535927; }
  .bottom-section .card-img-top {
    margin-left: auto !important;
    margin-right: auto !important; }
  .bottom-section .card-container {
    padding-top: 20px; }

.footer--list {
  color: #FFD185;
  background-color: #535927;
  text-align: center; }
  .footer--list .row {
    margin: 0;
    padding: 0; }
  .footer--list .col-3 {
    padding: 0;
    margin: 0; }
  .footer--list i {
    margin: 10px 0 10px 0; }

@media (min-width: 360px) {
  h4 {
    font-size: 1.5rem; }

  .card-header {
    padding: .75rem 1.25rem; } }
@media (min-width: 768px) {
  .top-section--background {
    background-position: center;
    box-shadow: 12px 0 15px -4px #D1B69E inset, -12px 0 8px -4px #D1B69E inset; } }

/*# sourceMappingURL=style.css.map */
