$background-color-main: #535927;
$background-color-light: #D1B69E;
$font-color-light: #FFD185;
$font-color-dark: #535927;
$highlight-color-light: #FFD185;
$highlight-color-dark: #535927;

//----- Body -----//
body {
    background-color: $background-color-light;
}



//-----General-----//
.row {
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
}

hr.hr-narrow {
    width: 25%;
}



//----- Nav bar -----//
.navbar {
    padding: 0rem 1rem 0rem 1rem!important;
    line-height: 20px;
    .active {
        background-color: $highlight-color-light;
        a {
            color: $font-color-dark !important;
        }
    }
}

.bg-dark {
    background-color: $background-color-main !important;
}

.navbar-brand {
    span {
        padding-left: 85px;
    }
    img {
        position: absolute;
        top: -10px;
        height: 70px;
        -webkit-filter: drop-shadow(4px 4px);
        filter: drop-shadow(4px 4px #343f4b);
    }
}

.navbar--logo-font-large {
    color: $font-color-light;
    font-family: "Bree Serif", serif;
    font-size: 25px;
}

.navbar--logo-font-small {
    color: $font-color-light;
    font-family: "Bree Serif", serif;
    font-size: 14px;
}

.navbar-toggler {
    color: $font-color-light !important;
    border: none;
    outline: none !important;
    i {
        font-size: 20px;
    }
}

.nav-link {
    color: $font-color-light !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.navbar-nav {
    float: right;
    li {
        text-align: right;
        padding-right:10px;
        padding-left:10px;
    }
}

.navbar-expand-md {
    z-index: 1;
    padding-bottom: 20px;
}

//-----Background-----//
.background {
    padding-left: 0;
}

.top-section--background {
    position: fixed;
    top: 0;
    height: 40vh;
    background-size: cover;
    background-position: top;
    z-index: -1;
    img {
        border: solid 5px $background-color-main;
        border-bottom:none;
        max-width:50vh;
    }
}

.top-section--index-background {
    background-image: url("../../static/images/index.jpg");
}

.top-section--about-background {
    background-image: url("../../static/images/about.jpg");
}

.top-section--services-background {
    background-image: url("../../static/images/services.jpg");
}

.top-section--the_paddock-background {
    background-image: url("../../static/images/the_paddock.jpg");
}

.top-section--contact-background {
    background-image: url("../../static/images/contact.jpg");
}


//-----Top section-----//
.top-section {
    margin-top: 5vh;
    height: 35vh;

    .row {
        margin: 0;
        padding: 0;
    }
}



//-----Middle Section-----//
.middle-section {
    height: 12.5vh;
    text-align: center;
    background-color: $background-color-main;
    color: $font-color-light;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

//-----Bottom Section-----//
.bottom-section {
    padding-bottom: 40px;
    background-color: $background-color-light;
    .bottom-section--card-column {
        padding: 0;
    }
    .bottom-section--bottom-card {
        margin-bottom: 20px;
    }
    .card {
        background-color: $background-color-light;
        color: $font-color-dark;
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: center;
        border: none;
        span {
            color: $font-color-dark;
        }
        img {
            width: 80px;
            height: 80px;
            border: 3px solid $font-color-dark;
            margin: 10px 0 10px 0;
        }

        button {
            width: 100%;
            text-decoration: none;
        }
        p {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    a {
        text-decoration: none;
        color: inherit;
    }        
        .contact-button {
            margin-top: 8px;
            background-color: $background-color-main;
            color: $font-color-light;
            border-color: #535927;
            outline: none;
            width: 50%;
        }
    }
    .card-header {
        background-color: $background-color-light;
        border-bottom: none;
        padding-left: 0;
        padding-right: 0;
        button.collapsed {
            .index-collapse--read-less {
                display: none;
            }
            .index-collapse--read-more {
                display: block;
            }
        }
        button:not(.collapsed) {
            .index-collapse--read-less {
                display: block;
            }
            .index-collapse--read-more {
                display: none;
            }
        }

    }
    .card-body {
        // width: 100%;
        background-color: $background-color-light;
        font-size: 1rem;
        border: solid 1px $font-color-dark;

    }
    .card-img-top {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .card-container {
        padding-top: 20px;
    }
    form {
        button {
            margin-top: 8px;
            background-color: $background-color-main;
            color: $font-color-light;
            border-color: #535927;
            outline: none;
        }
    }
}

.paddock-image-thumbnail {
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0.5s;
    transform: scale(1.0, 1.0);
}

.paddock-image-thumbnail:hover {
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0.5s;
    transform: scale(1.2, 1.2);
}

.modal {
    .modal-content {
        background-color: $background-color-light;
        color: $font-color-dark;
    }
    img {
        width: 100%;
        border: solid 4px $background-color-main;
    }
    button {
        background-color: $background-color-main;
        color: $font-color-light;
    }
    .modal-header {
        border-bottom-color: $background-color-light;
    }
    .modal-footer {
        border-top-color: $background-color-light;

    }
}

//-----Footer-----//
.footer--list {
    color: $font-color-light;
    background-color: $background-color-main;
    text-align: center;
    .row {
        margin: 0;
        padding: 0;
    }
    .col-3 {
        padding: 0;
        margin: 0;
    }
    i {
        margin: 10px 0 10px 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

@media (min-width:360px) {

    h4 {
        font-size: 1.5rem;
    }
    .card-header {
        padding: .75rem 1.25rem;
    }
}

@media (min-width:768px) {

    .top-section--background {
        background-image:none !important;
    }

    .bottom-section {
        .card {
            img {
                width: 120px;
                height: 120px;
            }
        }
    }
    hr {
        width: 50%;
    }
    hr.hr-narrow {
        width: 10%;
    }
}

@media (min-width:1024px) {
    .navbar {
        line-height: 40px;
    }
    .bottom-section--bottom-card {
        padding-top: 20px;
    }

    .bottom-section {
        .card {
            img {
                width: 150px;
                height: 150px;
            }

        }
    }
}
